@mixin bg($name){
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/"+ $name) no-repeat center;
  background-size: 100%;
};
page van-card .title,
page van-card .van-card__desc{
  //width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp:1;
  white-space: nowrap;
}
page{
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  ::-webkit-scrollbar{
    width: 0;
    height: 0;
    color: transparent
}
  .van-tabs--card .van-tabs__wrap {
    height:auto;
  }
  .van-tabs--line .van-tabs__wrap {
    height: auto;
    margin-bottom: 10rpx
  }
    .van-tabs__nav--card {
      height: 70rpx;   
      .van-tab { line-height: 70rpx;}
    }
  

  van-card {
  
    .van-card__header{
      border-bottom: 1rpx solid #EEE;
      justify-content: space-between;
    }
    .title{
      font-size: 25rpx;
    }
    .van-card__content{
      padding-left: 40rpx;
    }
    .van-card{
      background: #FFF;
        .bottom {
          .tag_right {
            padding-left: 10rpx;
            @include bg('bg3.png')
          }
        }
    }
    .progress{
      display: inline-block;
      width: 303rpx;
    //  padding-bottom:10rpx;
      font-size: 24rpx;
      color: #DD2928;
      .progess_background{
        width: 307rpx;
        margin-top: 5rpx;
        background: #F1F1F1;
        .progress_value{
          height: 5rpx;
          background:  #DD2928;
        }
      }
    }

    .price{
      float:right;
      color: #DD2928;
      font-size: 37rpx;
      text-align: center;
      view {
        height: 40rpx;
      }
      .price_show{
        color:#CACACA;
        font-size: 24rpx;
        text-decoration:line-through;
      }
    }

    .bottom{
      padding-bottom: 10rpx;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .tags{
      height: 23rpx;
      width: 77rpx;
      @include bg('baoyou.png')
    }
  }

  .van-tab__pane{
  //  margin-bottom: 130rpx;
  }


}

.go_top{
  position: fixed;
  right: 30rpx;
  bottom: 60rpx;
  width: 60rpx;
  height: 60rpx;
  z-index: 10000;
  background: url("data:image/svg+xml,%3Csvg t='1585372652048' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='17552' width='200' height='200'%3E%3Cpath d='M513.5 16.7c-273.4 0-495 221.6-495 495s221.6 495 495 495 495-221.6 495-495-221.6-495-495-495z m321.8 816.7c-41.8 41.8-90.5 74.6-144.6 97.5-56.1 23.7-115.7 35.7-177.1 35.7-61.4 0-121-12-177.1-35.7-54.2-22.9-102.8-55.7-144.6-97.5-41.9-41.8-74.7-90.4-97.6-144.6-23.7-56.1-35.7-115.7-35.7-177.1 0-61.4 12-121 35.7-177.1 22.9-54.2 55.7-102.8 97.5-144.6s90.5-74.6 144.6-97.5c56.1-23.7 115.7-35.7 177.1-35.7 61.4 0 121 12 177.1 35.7 54.2 22.9 102.8 55.7 144.6 97.5s74.6 90.5 97.5 144.6c23.7 56.1 35.7 115.7 35.7 177.1 0 61.4-12 121-35.7 177.1-22.8 54.2-55.6 102.8-97.4 144.6z' fill='%23999999' p-id='17553'%3E%3C/path%3E%3Cpath d='M668.4 477.8c-3.3 2.1-7.1 3.1-10.8 3.1-6.6 0-13-3.3-16.9-9.2l-100.9-158c-1.8-2.8-3.9-5.2-6.3-7.2v479c0 11-9 20-20 20s-20-9-20-20v-479c-2.4 2-4.5 4.4-6.3 7.2l-100.9 158c-6 9.3-18.3 12-27.6 6.1s-12-18.3-6.1-27.6l100.9-158c13.1-20.6 35.6-32.9 60-32.9s46.9 12.3 60 32.9l100.9 158c6 9.3 3.3 21.7-6 27.6zM675.8 257.8H351.2c-11 0-20-9-20-20s9-20 20-20h324.6c11 0 20 9 20 20s-8.9 20-20 20z' fill='%23999999' p-id='17554'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
}
