page {
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;


  .guidanceText{
    text-align: center;

  }
  button{
    margin: 20rpx;
    width: 600rpx;
  }
}
