// van-popup{
//   width: 100vw;
//   .title{
//     padding: 30rpx 50rpx;
//     font-size: 35rpx;

//   }
//   .content{
//     padding: 50rpx;
//     font-size: 30rpx;
//     color: #999;
//     border: 1rpx solid #EEE;
//   }
//   .bts{
//     display: flex;
//     margin: 60rpx auto 70rpx;
//     width: 80%;
//     border:1rpx solid #1AAD19;
//     border-radius: 36rpx;
//     overflow: hidden;
//     .cancel{
//       color: #999
//     }
//     button{
//       height: 75rpx;
//       line-height: 75rpx;
//       margin: 0;
//       padding: 0;
//       border-radius: 0;
//       border: none;
//       flex: 1;
//     }
//   }

// }



.login_page1,.login_page2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 98999999;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  button {
    width: 80%;
    margin: 20rpx auto;
  }
}

.login_page1,
.get_phone_number{
  image {
    width: 80rpx;
    height: 80rpx;
    display: block;
    margin:20rpx auto
  }

  .title {
    font-size: 36rpx;
    font-weight: 600;
    text-align: center;
  }

  .tips {
    margin: 20rpx;
    font-size: 24rpx;
    color: #999;
    text-align: center;
  }

  van-dialog {
    text-align: center;
    
  }
}
.login_page2{
  background: rgba(0,0,0,.7);
  .get_phone_number{
    background: #FFF;
    padding: 30rpx 60rpx 0 60rpx;
    border-radius: 20rpx;
    .btns{
      display: flex;
      button{
        background: transparent;
      }
      button::after{
        width: 0;
        height: 0;

      }
    }
  }
}