@mixin bg($name) {
  background     : url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/"+ $name) no-repeat center;
  background-size: 100%;
}

;

.shipping_methods_title {
  padding  : 0 30rpx;
  font-size: 26rpx;
  color    : #666;
}

.shipping_methods_body {
  display: flex;
  padding: 30rpx;
  font-size: 26rpx;
  color    : #666;

  van-radio {
    flex: 1;
     .van-radio{
      justify-content: center;
     }
    
  }
  .active_method{
    .van-radio__label{
      color:rgb(25, 137, 250)
    }
  }
}

page {
  van-card {
    .van-card__header {
      border-bottom  : none;
      justify-content: space-between;
    }

    .title {
      font-size: 25rpx;
    }

    .van-card__content {
      padding-left: 40rpx;
    }

    .van-card {
      background: #FFF;
    }
  }

}

.progress {
  display    : inline-block;
  width      : 303rpx;
  padding-top: 20rpx;
  font-size  : 24rpx;
  color      : #DD2928;

  .progess_background {
    width     : 307rpx;
    margin-top: 5rpx;
    background: #F1F1F1;

    .progress_value {
      height    : 5rpx;
      background: #DD2928;
    }
  }
}

.price {
  float         : right;
  color         : #DD2928;
  font-size     : 37rpx;
  text-align    : center;
  // line-height: 100rpx;
}

.tags {
  display  : inline-block;
  padding  : 8rpx 8rpx 8rpx 12rpx;
  font-size: 20rpx;
  color    : #FFF;

}

.address {
  margin-top: 20rpx;
  padding      : 35rpx 15rpx 35rpx 30rpx;
  border-bottom: 1rpx dashed #EEE;
  border-top   : 1rpx dashed #EEE;
  color        : #666;

  .name {
    padding: 10rpx 0;
  }

  text {
    float: right;
  }
}

.payment_type {
  padding      : 35rpx 15rpx 35rpx 30rpx;
  border-bottom: 2rpx solid #EEE;

  //border-top: 2rpx solid #EEE;
  icon {
    width : 65rpx;
    height: 53rpx;
    @include bg('weixin.png');
    vertical-align: middle;
  }

  text {
    float: right;
  }
}

.submit {
  position: fixed;
  border-radius: 26rpx;
  bottom:50rpx;
  // width: 80%;
 left: 65rpx;
 right: 65rpx;
}

.price_item {
  padding       : 30rpx;
  padding-bottom: 0;
  font-size     : 26rpx;
  color         : #666;

  text {
    float: right;
  }
}

.total_price {
  color         : #333;
  padding-bottom: 30rpx;

  text {
    font-size: 36rpx;
    color    : #DD2928;
  }
}