@mixin bg($name){
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/"+ $name) no-repeat center;
  background-size: 100%;
};
page{
  background: rgba(233,233,233,.6);
  position:absolute;
  left: 0;
  top:0;
}
.top{
  margin: 0 17rpx;
  height: 115rpx;
  line-height: 115rpx;
  background: #F8F8F8;
  padding:0 27rpx 0 43rpx;
  border-radius: 15rpx;

  icon {
    width: 41rpx;
    height: 41rpx;
    @include bg('hg-vip.png');
    vertical-align: middle;
  }

  text{
    float: right;
    line-height: 115rpx;
    font-size: 24rpx;
    color: #999;
  }
}

.card{
  height: 300rpx;
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/card-bg-l.png") no-repeat center,linear-gradient(129deg,rgba(226,186,130,1),rgba(243,218,166,1));
  background-size: cover;
  border-radius:11rpx;
  margin: 80rpx 60rpx ;
  padding: 50rpx 40rpx 38rpx 60rpx;
  .grade{
    color: #FFF;
    float: left;
    .text_ch{
      text-align: center;
      font-size: 39rpx;
    }
    .text_en{
      text-align: center;
      font-size: 20rpx;
    }
  }

  .to_use{
    float:right;
    font-size: 25rpx;
    color: #FFF;
    margin-top: 20rpx;
    padding:15rpx;
    border: 1px solid #FFF;
    border-radius: 5rpx;
  }
  .card_number{
    margin-top: 270rpx;
    font-size: 29rpx ;
    color: #FFF;
  }
}
.card_vip1{
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/card-bg-l.png") no-repeat center, linear-gradient(129deg, #e2894d, #bb703e)
}
.card_vip2{
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/card-bg-l.png") no-repeat center,linear-gradient(129deg, #9bb2c4, #738594)
}
.card_vip3{
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/card-bg-l.png") no-repeat center,linear-gradient(129deg,rgba(226,186,130,1),rgba(243,218,166,1))
}
.qr_code{
  text-align: center;
  image{
    width: 300rpx;
    height: 300rpx;
  }
}


.address{
  background: #FFF;
  padding: 0 30rpx;
  .title{
    padding: 27rpx 0 25rpx;
    text{
      color:red;
    }
  }
  .select_address{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1rpx solid #EEE;
    border-top: 1rpx solid #EEE;
    .item{
      flex: 1;
      display: flex;
      justify-content: space-between;
      padding: 25rpx 10rpx 25rpx 20rpx;
      font-size: 24rpx;
    }
    .item:nth-child(2){
      border-left: 1rpx solid #EEE;
      border-right: 1rpx solid #EEE;
    }
  }
}
input{
  padding: 25rpx 0;
}
.ueserInfo{
  background: #FFF;
  margin: 30rpx 0;
  padding: 0 30rpx;
  // width: 100%;
  overflow: hidden;
  van-radio-group{
    border-bottom: 1rpx solid #EEE;
    border-top: 1rpx solid #EEE;
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .radio_item{
    float: left;
    margin: 24rpx 40rpx 24rpx 0;
  }

}
page .save_btn{
  margin: auto;
  width: 80%;
  margin: auto;
  padding:20rpx 0;
  border-radius: 15rpx;
  font-size: 40rpx;
}

.select_level{
  background: #FFF;
  margin-bottom: 80rpx;
  .title{
    height: 90rpx;
    line-height: 90rpx;
    padding: 0 30rpx;
    border-bottom:  1rpx solid #EEE;;
  }

  van-radio-group{
    display: flex;
    van-radio{
      margin:50rpx 30rpx;
    }
  }
}
