
page van-card .progress {
  padding-top: 40rpx;
}

.baoyou {
  background     : url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/baoyou.png") center no-repeat;
  background-size: contain;
  display        : inline-block;
  padding        : 8rpx 8rpx 8rpx 12rpx;
  font-size      : 20rpx;
  color          : #FFF;
}

page van-card .van-card__header{
  border-bottom: none;
}
page van-card .van-card{
  border-bottom:1rpx solid rgba(222,222,222,.3)
}