@mixin bg($name){
  background:url("http://lantin-xiaochengxu.oss-cn-hangzhou.aliyuncs.com/wechat/"+ $name) no-repeat center;
  background-size: 100%;
};
page{
  //background: rgba(233,233,233,.6);
  position:absolute;

}

.order_info_top{
  display: flex;
  justify-content: space-between;
  padding: 25rpx 40rpx;
  font-size: 24rpx;
  .order_time{
    display: inline-block;
    color:#999
  }
  .order_number{
    flex: 1;
  }

}



van-card {
  .van-card__header{
    justify-content: space-between;
  
  }
  .title{
    font-size: 25rpx;
  }
  .van-card__content{
    padding-left: 40rpx;
  }
  .van-card{
    //background: #FFF;
  }
}

page van-card .van-card__header {
  border-bottom:1px solid #EEE;
  
}
.progress{
  display: inline-block;
  width: 303rpx;
  padding-top:20rpx;
  font-size: 24rpx;
  color: #DD2928;
  .progess_background{
    width: 307rpx;
    margin-top: 5rpx;
    background: #F1F1F1;
    .progress_value{
      height: 5rpx;
      background:  #DD2928;
    }
  }
}

.price{
  float:right;
  color: #DD2928;
  font-size: 37rpx;
  text-align: center;
  view {
    height: 40rpx;
  }
  .price_show{
    color:#CACACA;
    font-size: 24rpx;
    text-decoration:line-through;
  }
}

.bottom{
  height: 110rpx;
}
.tags{
  height: 23rpx;
  width: 77rpx;
}

.steps{
  display: flex;
  flex-direction: row;
  padding: 17rpx 113rpx;
  .status{
    border-radius: 50%;
    width: 60rpx;
    height: 60rpx;
    line-height: 60rpx;
    text-align: center;
    font-size: 22rpx;
    color:#FFF;
    background: #EEE9E9;

  }
  .line{
    height: 28rpx;
    flex: 1;
    border-bottom: 5rpx solid #EEE9E9;
  }
  .status_active{
    background: #FF6A21;
  }
  .line_active{
    border-bottom: 5rpx solid #FF6A21;
  }
}

.order_address,.order_user_info {
  position: relative;
  margin: 0 100rpx 0 58rpx;
  padding-left: 52rpx;
  padding: 15rpx 0 15rpx 52rpx;
  color: #171717;
  font-size: 24rpx;
  line-height: 37rpx;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 27rpx;
    height: 35rpx;
    @include bg('dizhi.png')
  }
}
.order_user_info{
  button{
    float: right;
    margin-right: -60rpx;
    width: 128rpx;
    height: 42 rpx;
    line-height: 42rpx;
     background: #DD2928;
    color:#FFF;
    font-size: 24rpx;
    border-radius: 18rpx;
  }
  &::before{
    @include bg('dianhua.png')
  }
}

.line_1 {
  width: 100%;
  margin-top:15rpx;
  border-bottom: 1rpx solid #EEE;
}
